h1 {
    font-size:39px;
    text-align:center;
}
p {
    text-align:center;
    font-size:25px;
}
img {
    display:block;
    width:100%;
}
.grid {
    display: flex;
    margin-right:5px;
}
.box {
    flex: 33%;
}
a:hover {
    color:#004a7f;
}